/* Font import */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

body {
  font-family: "Roboto", sans-serif;
}

.user-search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}

.user-search-bar {
  width: 400px;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.user-search-bar input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  flex: 1;
  margin-right: 10px;
}

.user-search-bar button {
  padding: 10px 15px;
  background-color: var(--primary);
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.user-search-bar button:hover {
  background-color: #555;
}

.search-results {
  background-color: #eee;
  padding: 20px;
  border-radius: 8px;
  width: 80%;
  max-width: 400px;
}

.user-result {
  background-color: #fff;
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  transition: transform 0.2s;
  cursor: pointer;
}

.user-result:hover {
  transform: scale(1.05);
}

.user-details {
  margin-bottom: 10px;
}

.add-friend-button {
  padding: 10px 15px;
  background-color: var(--primary);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.add-friend-button.remove-friend {
  background-color: #dc3545;
}

.add-friend-button:hover {
  background-color: #0056b3;
}

.add-friend-button.remove-friend:hover {
  background-color: #c82333;
}

/* Responsive Design (Media Queries) */

@media (max-width: 768px) {
  .user-search-container {
    width: 90%;
  }

  .user-search-bar {
    width: 100%;
  }

  .search-results {
    width: 100%;
  }
}
