@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.login-container {
  margin: 0;
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
  margin-top: -130px;
}

.home-banner-container {
  position: relative;
  display: flex;
  /* padding-top: 3rem; */
}

.navbar {
  padding-left: 7vw;
  padding-right: 7vw;
}

.home-bannerImage-container {
  position: absolute;
  top: -100px;
  right: -170px;
  z-index: -2;
  max-width: 700px;
  height: 90%;
}

.wrapper {
  width: 420px;
  background: var(--primary);
  color: white;
  border-radius: 10px;
  padding: 30px 40px;
  border: 3px solid black;
}

.wrapper h1 {
  font-size: 36px;
  text-align: center;
}

.wrapper .input-box {
  position: relative;
  width: 100%;
  height: 50px;
  color: var(--text);
  margin: 30px 0;
}

.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 40px;
  font-size: 16px;
  color: var(--text);
  padding: 20px 45px 20px 20px;
  background-color: var(--background);
}

.input-box input::placeholder {
  color: var(--text);
}

.input-box .icon {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 16px;
}

.wrapper .remember-forgot {
  display: flex;
  justify-content: space-between;
  font-size: 14.5px;
  margin: -15px 0 15px;
}

.remember-forgot label input {
  accent-color: white;
  margin-right: 4px;
}

.remember-forgot a {
  color: white;
  text-decoration: none;
}

.remember-forgot a:hover {
  text-decoration: underline;
}

.wrapper .btn-login {
  width: 100%;

  height: 45px;
  background: #0066b2;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 16px;
  color: var(--text);
  font-weight: bold;
  margin-top: 10px;
  border: 2px solid black;
  padding-left: 0px;
  padding-right: 0px;
}

.wrapper .register-link {
  font-size: 14.5px;
  text-align: center;
  margin-top: 20px 0 15px;
  padding-top: 20px;
}

.register-link p a {
  color: white;
  text-decoration: none;
  font-weight: 600;
}

.register-link p a:hover {
  text-decoration: underline;
}

/* responsive-design */

@media screen and (max-width: 600px) {
  .wrapper {
    margin: auto;
    height: 450px;
    margin: 30px 20px;
  }

  .navbar {
    margin-bottom: 20px;
  }

  .wrapper h1 {
    font-size: 24px;
  }

  .input-box input {
    font-size: 14px;
  }

  .wrapper button {
    font-size: 14px;
    padding-right: 0px;
    padding-right: 0px;
  }

  .remember-forgot {
    flex-direction: column;
    margin: auto;
  }

  .remember-forgot label {
    margin-bottom: 5px;
  }
}

@media screen and (min-width: 601px) and (max-width: 1024px) {
  .wrapper {
    width: 60vw;
  }
}

@media screen and (min-width: 1025px) {
  .wrapper {
    width: 40vw;
  }
}
