/* Container general pentru aranjarea cardurilor */
.container-report {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
  transition: justify-content 0.3s ease;
}

/* Container pentru cardurile de jucători */
.players-container-report {
  display: flex;
  flex-direction: column;
  width: 100%;
  transition: width 0.3s ease;
  align-items: center; /* Centrăm conținutul */
}

/* Container pentru cardul de raport */
.report-container-report {
  width: 48%;
  display: none;
  flex-direction: column;
  align-items: center;
  transition: display 0.3s ease;
}

/* Cardurile individuale */
.player-card-report,
.report-card-report,
.player-details-card-report {
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
  text-align: center;
  width: 100%;
  max-width: 600px;
}

.player-details-card-report {
  max-height: 87%;
}

.player-card-report img {
  width: 60%; /* Diminuăm dimensiunea imaginii jucătorului */
  height: auto;
  border-radius: 10px;
  margin: 0 auto; /* Centram imaginea */
}

.player-info-report {
  text-align: center; /* Centrăm textul */
}

.player-info-report p {
  margin: 5px 0;
}

.create-report-button-report,
.save-report-button-report,
.save-pdf-button-report {
  padding: 10px 20px;
  margin: 10px;
  background-color: var(--primary);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.create-report-button-report:hover,
.save-report-button-report:hover,
.save-pdf-button-report:hover {
  background-color: var(--accent-hover);
}

/* Stiluri pentru lista fără bullets */
.no-bullets-report {
  list-style: none;
  padding: 0;
  text-align: left;
}

.team-badge-report {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

li {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Stiluri pentru tabele */
.statistics-table-report,
.injuries-table-report {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.statistics-table-report th,
.statistics-table-report td,
.injuries-table-report th,
.injuries-table-report td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.statistics-table-report th,
.injuries-table-report th {
  background-color: #f2f2f2;
}

.statistics-table-report tr:nth-child(even),
.injuries-table-report tr:nth-child(even) {
  background-color: #f9f9f9;
}

.statistics-table-report tr:hover,
.injuries-table-report tr:hover {
  background-color: #ddd;
}

.button-container-report {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 600px;
  margin: 20px 0;
}

#fixed-report {
  position: fixed;
}

h2,
h4 {
  margin-bottom: 10px;
}

textarea {
  margin-bottom: 15px;
  max-width: 500px;
}

@media (max-width: 768px) {
  .container-report {
    flex-direction: column;
    align-items: center;
  }

  .players-container-report,
  .report-container-report {
    width: 100%;
  }

  .button-container-report {
    flex-direction: column;
    align-items: center;
  }
}

/* Stiluri pentru atunci când raportul este deschis */
.container-report.report-open {
  justify-content: space-between;
}

.container-report.report-open .players-container-report {
  width: 48%;
}

.container-report.report-open .report-container-report {
  display: flex;
}
